In [10]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd
import os
## Chrome의 경우 | 아까 받은 chromedriver의 위치를 지정해준다.
driver = webdriver.Chrome('./chromedriver')
driver.get('https://mirrorprotocol.app/#/trade')


## url에 접근한다.
time.sleep(6)
soup = BeautifulSoup(driver.page_source, 'html.parser')

stocks = soup.select('#mirror > div > div.Container_container__lHqDY > article > div > table > tbody > tr')
index = ['time']
premium = []
for stock in stocks[1:]:
    name = stock.select_one('td:nth-child(1) > article > header > h1').text
    price = float(stock.select_one('td:nth-child(4) > span').text.replace('%',''))
    # row = {
    #     'name': name,
    #     'Primeum': price
    # }
    # print(name, price)
    index.append(name)
    premium.append(price)

C:\Users\kimis\AppData\Local\Temp/ipykernel_17372/626370209.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver')

In [39]:
df = pd.DataFrame(data=premium, index=index)

In [40]:
df

            0
mAAPL    0.05
mABNB    2.96
mAMD     2.05
mAMZN    1.69
mARKK    6.50
mBABA    2.00
mBTC     3.80
mCOIN    5.73
mDOT     5.90
mETH     3.18
mFB      5.48
mGLXY   11.40
mGOOGL   3.09
mGS      1.86
mHOOD    6.19
mIAU     0.34
mJNJ     2.78
mKO      2.26
mMSFT    1.18
mNFLX    2.84
mNIO     3.59
mNVDA    6.00
mPYPL    2.54
mQQQ     1.06
mSBUX    2.15
mSLV     1.58
mSPY     0.99
mSQ      5.06
mTSLA    1.70
mTWTR    6.58
mUSO     1.11
mVIXY    4.41

In [41]:
df = df.transpose()

In [42]:
df

,mAAPL,mABNB,mAMD,mAMZN,mARKK,mBABA,mBTC,mCOIN,mDOT,mETH,...,mPYPL,mQQQ,mSBUX,mSLV,mSPY,mSQ,mTSLA,mTWTR,mUSO,mVIXY
0,0.05,2.96,2.05,1.69,6.5,2.0,3.8,5.73,5.9,3.18,...,2.54,1.06,2.15,1.58,0.99,5.06,1.7,6.58,1.11,4.41

In [44]:
import os
if not os.path.exists('output.csv'):
    df.to_csv('output.csv', index=False, mode='w', encoding='utf-8-sig')
else:
    df.to_csv('output.csv', index=False, mode='a', encoding='utf-8-sig', header=False)

In [47]:
import datetime
Time = datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S')
print(Time)

2022-01-21 00:19:19

In [4]:
df = pd.DataFrame(data=premium, columns=index)
df

ValueError: Shape of passed values is (32, 1), indices imply (32, 32)

In [12]:
index

['mAAPL',
 'mABNB',
 'mAMD',
 'mAMZN',
 'mARKK',
 'mBABA',
 'mBTC',
 'mCOIN',
 'mDOT',
 'mETH',
 'mFB',
 'mGLXY',
 'mGOOGL',
 'mGS',
 'mHOOD',
 'mIAU',
 'mJNJ',
 'mKO',
 'mMSFT',
 'mNFLX',
 'mNIO',
 'mNVDA',
 'mPYPL',
 'mQQQ',
 'mSBUX',
 'mSLV',
 'mSPY',
 'mSQ',
 'mTSLA',
 'mTWTR',
 'mUSO',
 'mVIXY']

In [11]:
premium

[0.05,
 2.96,
 2.05,
 1.69,
 6.5,
 2.0,
 3.8,
 5.73,
 5.9,
 3.18,
 5.48,
 11.4,
 3.09,
 1.86,
 6.19,
 0.34,
 2.78,
 2.26,
 1.18,
 2.84,
 3.59,
 6.0,
 2.54,
 1.06,
 2.15,
 1.58,
 0.99,
 5.06,
 1.7,
 6.58,
 1.11,
 4.41]

In [13]:
zip_iterator = zip(index, premium)
dic = dict(zip_iterator)

In [14]:
dic

{'mAAPL': 0.05,
 'mABNB': 2.96,
 'mAMD': 2.05,
 'mAMZN': 1.69,
 'mARKK': 6.5,
 'mBABA': 2.0,
 'mBTC': 3.8,
 'mCOIN': 5.73,
 'mDOT': 5.9,
 'mETH': 3.18,
 'mFB': 5.48,
 'mGLXY': 11.4,
 'mGOOGL': 3.09,
 'mGS': 1.86,
 'mHOOD': 6.19,
 'mIAU': 0.34,
 'mJNJ': 2.78,
 'mKO': 2.26,
 'mMSFT': 1.18,
 'mNFLX': 2.84,
 'mNIO': 3.59,
 'mNVDA': 6.0,
 'mPYPL': 2.54,
 'mQQQ': 1.06,
 'mSBUX': 2.15,
 'mSLV': 1.58,
 'mSPY': 0.99,
 'mSQ': 5.06,
 'mTSLA': 1.7,
 'mTWTR': 6.58,
 'mUSO': 1.11,
 'mVIXY': 4.41}

In [24]:
df = pd.DataFrame.from_dict(dic,  orient='index',columns=index)

ValueError: Shape of passed values is (32, 1), indices imply (32, 32)

In [25]:
df = pd.DataFrame(dic)

ValueError: If using all scalar values, you must pass an index

In [18]:
df

            0
mAAPL    0.05
mABNB    2.96
mAMD     2.05
mAMZN    1.69
mARKK    6.50
mBABA    2.00
mBTC     3.80
mCOIN    5.73
mDOT     5.90
mETH     3.18
mFB      5.48
mGLXY   11.40
mGOOGL   3.09
mGS      1.86
mHOOD    6.19
mIAU     0.34
mJNJ     2.78
mKO      2.26
mMSFT    1.18
mNFLX    2.84
mNIO     3.59
mNVDA    6.00
mPYPL    2.54
mQQQ     1.06
mSBUX    2.15
mSLV     1.58
mSPY     0.99
mSQ      5.06
mTSLA    1.70
mTWTR    6.58
mUSO     1.11
mVIXY    4.41

In [26]:
re_data = [[p] for p in premium]

In [27]:
re_data

[[0.05],
 [2.96],
 [2.05],
 [1.69],
 [6.5],
 [2.0],
 [3.8],
 [5.73],
 [5.9],
 [3.18],
 [5.48],
 [11.4],
 [3.09],
 [1.86],
 [6.19],
 [0.34],
 [2.78],
 [2.26],
 [1.18],
 [2.84],
 [3.59],
 [6.0],
 [2.54],
 [1.06],
 [2.15],
 [1.58],
 [0.99],
 [5.06],
 [1.7],
 [6.58],
 [1.11],
 [4.41]]

In [32]:
df = pd.DataFrame(re_data, columns=index)

ValueError: 32 columns passed, passed data had 1 columns

In [37]:
df

            0
mAAPL    0.05
mABNB    2.96
mAMD     2.05
mAMZN    1.69
mARKK    6.50
mBABA    2.00
mBTC     3.80
mCOIN    5.73
mDOT     5.90
mETH     3.18
mFB      5.48
mGLXY   11.40
mGOOGL   3.09
mGS      1.86
mHOOD    6.19
mIAU     0.34
mJNJ     2.78
mKO      2.26
mMSFT    1.18
mNFLX    2.84
mNIO     3.59
mNVDA    6.00
mPYPL    2.54
mQQQ     1.06
mSBUX    2.15
mSLV     1.58
mSPY     0.99
mSQ      5.06
mTSLA    1.70
mTWTR    6.58
mUSO     1.11
mVIXY    4.41

In [38]:
df.transpose()

,mAAPL,mABNB,mAMD,mAMZN,mARKK,mBABA,mBTC,mCOIN,mDOT,mETH,...,mPYPL,mQQQ,mSBUX,mSLV,mSPY,mSQ,mTSLA,mTWTR,mUSO,mVIXY
0,0.05,2.96,2.05,1.69,6.5,2.0,3.8,5.73,5.9,3.18,...,2.54,1.06,2.15,1.58,0.99,5.06,1.7,6.58,1.11,4.41

In [35]:
df

            0
mAAPL    0.05
mABNB    2.96
mAMD     2.05
mAMZN    1.69
mARKK    6.50
mBABA    2.00
mBTC     3.80
mCOIN    5.73
mDOT     5.90
mETH     3.18
mFB      5.48
mGLXY   11.40
mGOOGL   3.09
mGS      1.86
mHOOD    6.19
mIAU     0.34
mJNJ     2.78
mKO      2.26
mMSFT    1.18
mNFLX    2.84
mNIO     3.59
mNVDA    6.00
mPYPL    2.54
mQQQ     1.06
mSBUX    2.15
mSLV     1.58
mSPY     0.99
mSQ      5.06
mTSLA    1.70
mTWTR    6.58
mUSO     1.11
mVIXY    4.41

In [31]:
names = ['Katie', 'Nik', 'James', 'Evan']
ages = [32, 32, 36, 31]
locations = ['London', 'Toronto', 'Atlanta', 'Madrid']
zipped = list(zip(names, ages, locations))
zipped

[('Katie', 32, 'London'),
 ('Nik', 32, 'Toronto'),
 ('James', 36, 'Atlanta'),
 ('Evan', 31, 'Madrid')]